@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url("assets/pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 576px) {
  body {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
